/* Custom styles */
@import '../stylesheets/custom/custom.css';

@import 'tailwindcss';
@plugin '@tailwindcss/aspect-ratio';
@source '../../javascript/controllers/';

@theme {
  /* Primary color scale */
  --color-primary-50: var(--color-emerald-50);
  --color-primary-100: var(--color-emerald-100);
  --color-primary-200: var(--color-emerald-200);
  --color-primary-300: var(--color-emerald-300);
  --color-primary-400: var(--color-emerald-400);
  --color-primary-500: var(--color-emerald-500);
  --color-primary-600: var(--color-emerald-600);
  --color-primary-700: var(--color-emerald-700);
  --color-primary-800: var(--color-emerald-800);
  --color-primary-900: var(--color-emerald-900);
  --color-primary-950: var(--color-emerald-950);

  /* Sans font stack */
  --font-sans: 'Aspekta', ui-sans-serif, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Noto Color Emoji';

  --text-2xs: 0.675rem;
}

@view-transition {
  navigation: auto;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  kbd {
    @apply [font-size:0.95em] mr-[0.05rem] font-mono text-soft bg-neutral-200 dark:bg-neutral-800 rounded-sm px-[0.3rem] py-[0.2rem] shadow-2xs;
  }
}

::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
}
