/* Custom styles */
@import '../stylesheets/custom/custom.css';

@import 'tailwindcss';
@plugin '@tailwindcss/aspect-ratio';
@source '../../javascript/controllers/';

@theme {
  /* Primary color scale */
  --color-primary-50: var(--color-emerald-50);
  --color-primary-100: var(--color-emerald-100);
  --color-primary-200: var(--color-emerald-200);
  --color-primary-300: var(--color-emerald-300);
  --color-primary-400: var(--color-emerald-400);
  --color-primary-500: var(--color-emerald-500);
  --color-primary-600: var(--color-emerald-600);
  --color-primary-700: var(--color-emerald-700);
  --color-primary-800: var(--color-emerald-800);
  --color-primary-900: var(--color-emerald-900);
  --color-primary-950: var(--color-emerald-950);

  --color-neutral-925: color-mix(
    in oklch,
    var(--color-neutral-950) 60%,
    var(--color-neutral-900)
  );

  /* Sans font stack */
  --font-sans: 'Aspekta', ui-sans-serif, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Noto Color Emoji';

  --text-2xs: 0.675rem;

  --container-8xl: calc(var(--spacing) * 88 * 4); /* 88rem */

  @keyframes timeline-fade {
    0% {
      --left: 0rem;
      --right: var(--fade);
    }

    1%, 99% {
      --left: var(--fade);
      --right: var(--fade);
    }

    100% {
      --left: var(--fade);
      --right: 0rem;
    }
  }

  --animate-heartbeat: heartbeat 1.2s infinite;

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.1);
    }
    30% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.18);
    }
    100% {
      transform: scale(1);
    }
  }
}

@view-transition {
  navigation: auto;
}

@utility hide-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  kbd {
    @apply text-[0.95em] mr-[0.05rem] font-mono text-soft bg-neutral-200 dark:bg-neutral-800 rounded-sm px-[0.3rem] py-[0.2rem] shadow-2xs;
  }
}

::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
}

::view-transition-group(root) {
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  ::view-transition-group(root) {
    background-color: var(--color-neutral-925);
  }
}

:root {
  color-scheme: light dark;

  ::selection {
    background: light-dark(
      oklch(from var(--color-primary-500) l c h / 5%),
      oklch(from var(--color-primary-500) l c h / 15%)
    );
    color: light-dark(var(--color-primary-500), var(--color-primary-400));
    text-decoration: dotted underline
      light-dark(var(--color-primary-500), var(--color-primary-400));
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
}
