<% if params[:notable_type].present? || (@selected_note_type.present? && @selected_note_type != "all") %>
  <%= link_to "Clear Filters", notes_path, class: "btn btn-sm btn-destructive btn-muted" %>
<% end %>

<div id="note-filters" class="my-4 space-y-1">
  <div class="flex flex-wrap items-center gap-1">
    <% [
      { type: "all", icon: "layers" },
      { type: "active", icon: "check-circle" },
      { type: "archived", icon: "archive" }
    ].each do |filter| %>
      <% type = filter[:type] %>
      <% selected = @selected_note_type == type %>

      <%= filter_link(
        path: notes_path(params.permit(:notable_type).merge(note_type: selected ? 'all' : type)),
        value: type,
        icon_name: filter[:icon],
        selected:,
        context: "notes-filter"
      ) %>
    <% end %>
  </div>

  <div class="flex flex-wrap items-center gap-1">
    <% [
      { type: "JobLead", icon: "briefcase" },
      { type: "Interview", icon: "interview", tag_class: "tag-interview" }
    ].each do |filter| %>
      <% type = filter[:type] %>
      <% selected = params[:notable_type] == type %>

      <%= filter_link(
        path: notes_path(params.permit(:note_type).merge(notable_type: params[:notable_type] == type ? nil : type)),
        value: type,
        label: human(type).pluralize.titleize,
        icon_name: filter[:icon],
        selected:,
        context: "notes-notable-filter",
        tag_class: filter[:tag_class]
      ) %>
    <% end %>
  </div>
</div>
