<% content_for :title, 'Editing note' %>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4">
    <%= link_to @note, class: 'btn btn-sm btn-secondary btn-muted gap-1.5' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back to Note</span>
    <% end %>
  </div>

  <h1 class="heading mb-6">Edit Note</h1>

  <%= render 'form', note: @note %>
</div>
