<%
  if @note.notable.is_a?(JobLead)
    notable_title = "#{@note.notable.title} @ #{@note.notable.company}"
    page_title = "New Note for #{notable_title}"
    back_text = notable_title
  elsif @note.notable.is_a?(Interview)
    job_lead = @note.notable.job_lead
    notable_title = "#{job_lead.title} @ #{job_lead.company}"
    page_title = "New Note for Interview - #{notable_title}"
    back_text = "Interview - #{notable_title}"
  else
    notable_title = @note.notable.model_name.human.titleize
    page_title = "New Note for #{notable_title}"
    back_text = notable_title
  end
%>

<% content_for :title, page_title %>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4">
    <%= link_to @note.notable, class: 'btn btn-sm btn-secondary btn-muted gap-1.5' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back to <%= @note.notable.model_name.human.titleize %></span>
    <% end %>
  </div>

  <h1 class="heading mb-6">New Note</h1>

  <%= render 'form', note: @note %>
</div>
