<% if success.present? %>
  <p class="-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-primary-50 text-primary-500 text-center" id="success"><%== success %></p>
<% end %>

<% if error %>
  <p class="-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-rose-50 text-rose-500 text-center" id="error"><%== error %></p>
<% end %>

<% if notice %>
  <p class="-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-blue-50 text-blue-500 text-center" id="notice"><%== notice %></p>
<% end %>

<% if alert %>
  <p class="-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-yellow-50 text-yellow-500 text-center" id="alert"><%== alert %></p>
<% end %>
