<% if success.present? %>
  <p class="py-3 px-6 bg-primary-50 mb-5 text-primary-500 w-full text-center" id="success"><%= success %></p>
<% end %>

<% if error %>
  <p class="py-3 px-6 bg-rose-50 mb-5 text-rose-500 w-full text-center" id="error"><%= error %></p>
<% end %>

<% if notice %>
  <p class="py-3 px-6 bg-blue-50 mb-5 text-blue-500 w-full text-center" id="notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="py-3 px-6 bg-yellow-50 mb-5 text-yellow-500 w-full text-center" id="alert"><%= alert %></p>
<% end %>
