<% if notice.present? %>
  <p class="py-3 px-6 bg-primary-50 mb-5 text-primary-500 w-full" id="notice"><%= notice %></p>
<% end %>

<% if alert = flash[:alert] %>
  <p class="py-3 px-6 bg-rose-50 mb-5 text-rose-500 w-full" id="alert"><%= alert %></p>
<% end %>
