<%= form_with url: search_path, method: :get, data: { controller: 'auto-submit', auto_submit_target: 'form', turbo_frame: 'search-results', turbo_action: 'advance', turbo_stream: true } do |form| %>
  <div class="relative [view-transition-name:search-input]">
    <%= form.search_field :q, value: query, autofocus: true, placeholder: 'Search for anything...', class: 'peer form-input-transparent -my-2 pl-7 text-light', data: { action: 'input->auto-submit#submit' } %>
    <%= inline_svg_tag 'icons/search.svg', class: 'size-5 shrink-0 pointer-events-none absolute left-0 top-1/2 -translate-y-1/2 text-muted peer-[:placeholder-shown]:text-muted peer-focus:text-light transition-colors duration-150' %>
  </div>

  <%= render 'filters' %>
<% end %>
