<% content_for :title, "Search#{' - ' + @query if @query}" %>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to root_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5 [view-transition-name:back-btn]' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back Home</span>
    <% end %>
  </div>

  <div>
    <h1 class="heading mb-2">
      Search
    </h1>

    <div class="card-sm rounded-3xl">
      <%= render 'form', query: @query %>
    </div>
  </div>

  <%= render 'results', query: @query, results: @results %>
</div>
