<div id="interview-filters" class="my-4 space-y-1">
  <div class="flex flex-wrap items-center gap-1">
    <% [
      { type: "all", icon: "layers" },
      { type: "upcoming", icon: "calendar", tag_class: "tag-interview" },
      { type: "completed", icon: "check-circle", tag_class: "tag-accepted" }
    ].each do |filter| %>
    <% type = filter[:type] %>
    <% selected = @selected_interview_type == type %>

    <%= filter_link(
      path: interviews_path(scheduled: selected ? "all" : type),
      value: type,
      icon_name: filter[:icon],
      selected:,
      tag_class: filter[:tag_class],
      context: "interviews"
    ) %>
  <% end %>
  </div>
</div>
