/*
  Custom fonts for JobJournal

  Aspekta Font Family
  Download source: https://unblast.com/aspekta-sans-serif-font/

  Only weights 400, 500, 600, 700, 800 are included based on actual usage and Tailwind alignment for optimized performance.
*/

@layer base {
  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Aspekta-400.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Aspekta-500.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Aspekta-600.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Aspekta-700.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Aspekta-800.woff2') format('woff2');
  }
}
