@utility form-input {
  @apply appearance-none block shadow-sm rounded-[0.625rem] border border-neutral-300 focus:outline-hidden focus:ring-2 focus:ring-primary-600 px-3 py-2 w-full caret-primary-600 placeholder:text-neutral-400 placeholder:select-none placeholder:font-normal;
}

@utility form-label {
  @apply text-neutral-600 block mb-1 text-sm font-medium select-none;
}

@utility form-select {
  @apply block shadow-sm rounded-[0.625rem] border border-neutral-300 focus:outline-hidden focus:ring-2 focus:ring-primary-600 pl-3 pr-6 py-2 w-full caret-primary-600 placeholder:text-neutral-400 placeholder:select-none placeholder:font-normal;
}

@utility form-textarea {
  @apply appearance-none block shadow-sm rounded-[0.625rem] border border-neutral-300 focus:outline-hidden focus:ring-2 focus:ring-primary-600 p-4 w-full min-h-[120px] resize-y caret-primary-600 placeholder:text-neutral-400 placeholder:select-none placeholder:font-normal;
}

.form-textarea-wrap {
  @apply grid relative;
}

.form-textarea-wrap::after {
  content: attr(data-replicated-value) ' ';
  white-space: pre-wrap;
  visibility: hidden;
  /* Match textarea styling */
  @apply rounded-[0.625rem] border border-neutral-300 p-4 min-h-[120px];
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
  box-sizing: border-box;
}

.form-textarea-wrap > textarea {
  resize: none !important;
  overflow: hidden;
  grid-area: 1 / 1 / 2 / 2;
  /* Inherit all other styles from .form-textarea */
}
