<div class="mt-12 @container">
  <div class="flex items-center justify-between mb-4">
    <h2 class="subheading">Notes</h2>
    <%= link_to new_note_path(notable_type: notable.model_name, notable_id: notable.id), class: 'btn btn-primary gap-2' do %>
      <%= inline_svg_tag 'icons/note.svg', class: 'size-4 shrink-0' %>
      <span>New Note</span>
    <% end %>
  </div>
  <% if notes.any? %>
    <div class="<%= Current.user.get_setting(:notes_display) == 'list' ? 'flex flex-col' : "grid grid-cols-1 @xl:grid-cols-2 #{'@3xl:grid-cols-3' if notes.size >= 3 && notes.size != 4}" %> gap-3">
      <% notes.each do |note| %>
        <%= render note %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-state">
      No notes yet.
    </div>
  <% end %>
</div>
