<div class="mt-12 @container">
  <div class="flex items-center justify-between mb-4">
    <h2 class="subheading">Notes</h2>
    <%= link_to new_note_path(notable_type: notable.model_name, notable_id: notable.id), class: 'btn btn-sm btn-primary' do %>
      <%= icon 'quill', class: 'size-4 shrink-0' %>
      <span>New Note</span>
    <% end %>
  </div>
  <% if notes.any? %>
    <div class="<%= collection_layout_class_names :notes, count: notes.size, size: :medium %>">
      <%= render notes %>
    </div>
  <% else %>
    <div class="empty-state">
      No notes yet.
    </div>
  <% end %>
</div>
