<% content_for :title, [@status_code, @error_message].join(' ') %>

<!DOCTYPE html>
<html class="bg-neutral-200/80 dark:bg-black">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="bg-white dark:bg-neutral-900/60 text-normal md:px-4 selection:bg-primary-500/30">
    <main class="h-full">
      <%= yield %>
    </main>
  </body>
</html>
