<!DOCTYPE html>
<html class="bg-neutral-200/80 dark:bg-black">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="antialiased bg-white dark:bg-neutral-900/60 text-normal md:px-4">
    <main class="h-full">
      <section class="h-screen mx-auto pt-28 pb-16">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
