<!DOCTYPE html>
<html class="antialiased scroll-smooth [--main-padding:0rem]">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="bg-white dark:bg-neutral-950 text-normal">
    <%= yield %>
  </body>
</html>
